
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.left {
    float: left;
}
.right {
    float: right;
}
#topNav {
    height: 26px;
    font-size: 10px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
}


#topNav ul {
    list-style-type: none;
}
#topNav li {
    float: left;
}
#topNav a {
    line-height: 26px;
    display: inline-block;
}

.clearFix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}


